<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Brief description</th>
    <th>Job description</th>
    <th>Work information</th>
    <th>Skills</th>
    <th>Language</th>
    <th>Other details</th>
    <th>Apply date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.country %></td>
    <td><%= project.start_date %></td>
    <td><%= project.end_date %></td>
    <td><%= project.brief_description %></td>
    <td><%= project.job_description %></td>
    <td><%= project.work_information %></td>
    <td><%= project.skills %></td>
    <td><%= project.language %></td>
    <td><%= project.other_details %></td>
    <td><%= project.apply_date %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
