<h1>Listing form1s</h1>

<table>
  <tr>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @form1s.each do |form1| %>
  <tr>
    <td><%= form1.q1 %></td>
    <td><%= form1.q2 %></td>
    <td><%= form1.q3 %></td>
    <td><%= link_to 'Show', form1 %></td>
    <td><%= link_to 'Edit', edit_form1_path(form1) %></td>
    <td><%= link_to 'Destroy', form1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form1', new_form1_path %>
