<p id="notice"><%= notice %></p>

<p>
  <b>Is the intern facing any problem? (accommodation, culture shock, or anything other)</b>
  <%= @form2.q1 %>
</p>

<p>
  <b>When is the work starting?</b>
  <%= @form2.q2 %>
</p>

<p>
  <b>Has the intern been given all the details about Delhi?</b>
  <%= @form2.q3 %>
</p>

<p>
  <b>Does the intern have a sim card?- Please enter the number.</b>
  <%= @form2.q4 %>
</p>



<%= link_to 'Edit', edit_form2_path(@form2) %> 
